# SUPABASE
SUPABASE_DB_PASSWORD=
SUPABASE_DB_ID=
SUPABASE_DB_AWS_REGION=
# SPREADSHEET
SPREADSHEET_ID=
SPREADSHEET_RANGES=
# GOOGLE SERVICE ACCOUNT
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
# OTHERS
LANGUAGE=en-US